<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Leave Notification</title>
</head>
<body>
<h2>Leave Application Submitted</h2>
<p><strong>Employee Name:</strong> [[${employeeName}]]</p>
<p><strong>Day Of Leave:</strong> [[${dayOfLeave}]]</p>
<p><strong>Leave Type:</strong> [[${leaveType}]]</p>
<p><strong>From:</strong> [[${fromDate}]]</p>
<p><strong>To:</strong> [[${toDate}]]</p>
<p><strong>Total Days:</strong> [[${totalLeaveDays}]]</p>
<p><strong>Reason:</strong> [[${reason}]]</p>
</body>
</html>
