<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration Form</title>
</head>
<body>
<div style=" max-width: 300px;
        margin: auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-top: 50px;">
    <div>
        <h2 style="text-align:center">
            Email : <span th:text="${email}"></span>
        </h2>
        <h2 style="text-align:center">
            Password : <span th:text="${password}"></span>
        </h2>
    </div>
</div>
</body>
</html>
